<h1>Editing participation</h1>

<% form_for(@participation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :artist %><br />
    <%= f.text_field :artist %>
  </p>
  <p>
    <%= f.label :duration_type %><br />
    <%= f.text_field :duration_type %>
  </p>
  <p>
    <%= f.label :duration_id %><br />
    <%= f.text_field :duration_id %>
  </p>
  <p>
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @participation %> |
<%= link_to 'Back', participations_path %>
