<h1>New participation</h1>

<% form_for(@participation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :artist %><br />
    <%= f.select :artist_id, Artist.map_name_and_id %>
  </p>
  <% unless @participation.duration %>
    <p>
      <%= f.label :duration_type %><br />
      <%= f.text_field :duration_type %>
    </p>
    <p>
      <%= f.label :duration_id %><br />
      <%= f.text_field :duration_id %>
    </p>
  <% else %>
    <%= f.hidden_field :duration_id %>
    <%= f.hidden_field :duration_type %>
    <%= "in #{@participation.duration.name}" %>
  <% end %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', participations_path %>
