<h1>Editing connection</h1>

<% form_for(@connection) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :output %><br />
    <%= f.text_field :output %>
  </p>
  <p>
    <%= f.label :input %><br />
    <%= f.text_field :input %>
  </p>
  <p>
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @connection %> |
<%= link_to 'Back', connections_path %>
