<h1>New connection</h1>

<% form_for(@connection) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :output_id %><br />
    <%= f.text_field :output_id %>
  </p>
  <p>
    <%= f.label :input_id %><br />
    <%= f.text_field :input_id %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', connections_path %>
