<h1>connect your gear</h1>

<% form_for @connection do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :output_id %><br />
    <%= f.select :output_id, Output.map_name_and_id %>
  </p>
  <p>
    <%= f.label :input_id %><br />
    <%= f.select :input_id, Input.map_name_and_id %>
  </p>
  <p>
    <%= f.submit :connect %>
  </p>
<% end %>
