<h1>New connection</h1>

<% form_for(@connection) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :output %><br />
    <%= f.text_field :output %>
  </p>
  <p>
    <%= f.label :input %><br />
    <%= f.text_field :input %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', connections_path %>
