<p>
  <b>[output]</b>
  <%= link_to_name @connection.output %>
  is connected to 
  <b>[input]</b>
  <%= link_to_name @connection.input %>
</p>

<p>

  <%= link_to_name @connection.user %>
</p>


<%= link_to 'Edit', edit_connection_path(@connection) %> |
<%= link_to 'Back', connections_path %>
