<h1>Listing artists</h1>

<table>
  <tr>
    <th>Name</th>
    <th>User</th>
  </tr>

<% for artist in @artists %>
  <tr>
    <td><%=h artist.name %></td>
    <td><%=h artist.user %></td>
    <td><%= link_to 'Show', artist %></td>
    <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
    <td><%= link_to 'Destroy', artist, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New artist', new_artist_path %>
