<p>
  <%=h @artist.name %>
</p>

<%= scoped_collection_link 'album', @artist %>
<%= scoped_new_link 'album' %>
<%= scoped_collection_link 'participation', @artist %>
<%= scoped_new_link 'participation' %>


<br>
<%= scoped_collection_link 'show', @artist %>

<%= scoped_new_link 'show' %>