<h1>Listing elements</h1>

<table>
  <tr>
    <th>Specification</th>
    <th>Configuration</th>
    <th>User</th>
  </tr>

<% for element in @elements %>
  <tr>
    <td><%= link_to_name element.specification %></td>
    <td><%= link_to_name element.configuration %></td>
    <td><%= link_to_name element.user %></td>
    <td><%= link_to 'Show', element %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New element', new_element_path %>
