<h1>New recording</h1>

<% form_for(@recording, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.file_field :audio %>
  </p>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :excerpt %><br />
    <%= f.select :excerpt_id, Excerpt.map_name_and_id %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', recordings_path %>
