<p>
  <b>Name:</b>
  <%=h @configuration.name %>
</p>

<% @configuration.elements.each do |e| %>
  <%= link_to 'this', e %>
<% end %>
<%= scoped_new_link 'element' %>
<br>
<%= link_to 'Edit', edit_configuration_path(@configuration) %> |
<%= link_to 'Back', configurations_path %>
