<h1>get the effect</h1>

<% form_for @effect do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :brand %><br />
    <%= f.select :brand_id, Brand.map_name_and_id %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
