<p>
  <%= link_to_name @effect.brand %>  <%=h @effect.name %>
</p>

<%= scoped_new_link 'input' %><br>
<%= scoped_new_link 'output' %><br>
<%= scoped_new_link 'knob' %><br>
<%= scoped_collection_link 'input', @effect %><br>
<%= scoped_collection_link 'output', @effect %><br>
<%= scoped_collection_link 'knob', @effect %><br>


<%= link_to 'Edit', edit_effect_path(@effect) %> |
<%= link_to 'Back', effects_path %>
