<p>
  <b>Name:</b>
  <%=h @effect.name %>
</p>

<p>
  <b>Brand:</b>
  <%=h @effect.brand %>
</p>

<p>
  <b>User:</b>
  <%=h @effect.user %>
</p>


<%= link_to 'Edit', edit_effect_path(@effect) %> |
<%= link_to 'Back', effects_path %>
