<p>
  <b>  <%=h @venue.name %></b>

</p>

<p>
  <%=h @venue.address %><br>
  <%=h @venue.line2 %>
</p>
<p>
  <%=h @venue.city %>, 
  <%=h @venue.state %> 
  <%=h @venue.zip %><br>
  <%=h @venue.country %>
</p>


<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
