<p>
  <b>Name:</b>
  <%=h @album.name %>
</p>

<p>
  <b>Performer type:</b>
  <%=h @album.performer_type %>
</p>

<p>
  <b>Performer:</b>
  <%=h @album.performer_id %>
</p>

<p>
  <b>Released on:</b>
  <%=h @album.released_on %>
</p>

<p>
  <b>User:</b>
  <%=h @album.user %>
</p>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
