<p>
  <h2><%=h @album.name %></h2>
</p>

<p>
  <b>Performer:</b>
  <%= link_to_name @album.performer %>
</p>

<p>
  <b>Released on:</b>
  <%=h @album.released_on %>
</p>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
