<h1>Editing knob</h1>

<% form_for(@knob) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :host_type %><br />
    <%= f.text_field :host_type %>
  </p>
  <p>
    <%= f.label :host_id %><br />
    <%= f.text_field :host_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :discrete %><br />
    <%= f.text_field :discrete %>
  </p>
  <p>
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @knob %> |
<%= link_to 'Back', knobs_path %>
