<h1>Listing knobs</h1>

<table>
  <tr>
    <th>Host</th>
    <th>Name</th>
    <th>Discrete</th>
  </tr>

<% for knob in @knobs %>
  <tr>
    <td><%= link_to_name knob.host %></td>
    <td><%=h knob.name %></td>
    <td><%=h knob.discrete %></td>
    <td><%= link_to 'Show', knob %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New knob', new_knob_path %>
