<p>
  <b>Host:<%= link_to_name @knob.host %></b>
</p>

<p>
  <%=h @knob.name %>
</p>

<p>
  <b>Number of discrete settings:</b>
  <%=h @knob.discrete %>
</p>


<%= link_to 'Edit', edit_knob_path(@knob) %> |
<%= link_to 'Back', knobs_path %>
