<p>
  <b>Host type:</b>
  <%=h @knob.host_type %>
</p>

<p>
  <b>Host:</b>
  <%=h @knob.host_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @knob.name %>
</p>

<p>
  <b>Discrete:</b>
  <%=h @knob.discrete %>
</p>

<p>
  <b>User:</b>
  <%=h @knob.user %>
</p>


<%= link_to 'Edit', edit_knob_path(@knob) %> |
<%= link_to 'Back', knobs_path %>
