<h1>New sound
  <% if @sound.example %>
    <%= "in #{@sound.example.name}" %>
  <% end %>  
</h1>

<% form_for(@sound) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :configuration %><br />
    <%= f.select :configuration_id, Configuration.map_name_and_id %>
  </p>
  <% unless @sound.example %>
    <p>
      <%= f.label :example_type %><br />
      <%= f.text_field :example_type %>
    </p>
    <p>
      <%= f.label :example_id %><br />
      <%= f.text_field :example_id %>
    </p>
  <% else %>
    <%= f.hidden_field :example_id %>
    <%= f.hidden_field :example_type %>
  <% end %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', sounds_path %>
