<h1>Editing brand</h1>

<% form_for(@brand) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :homepage %><br />
    <%= f.text_field :homepage %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @brand %> |
<%= link_to 'Back', brands_path %>
