<p>
  <b>Name:</b>
  <%=h @brand.name %>
</p>

<p>
  <b>Homepage:</b>
  <%=h @brand.homepage %>
</p>

<% @brand.instruments.each do |i| %>
  <%= link_to_name i %><br>
<% end %>

<%= link_to 'new instrument', new_instrument_path(:instrument => {:brand_id => @brand.id}) %>

<%= link_to 'Edit', edit_brand_path(@brand) %>
