<p>
  <b>Name:</b>
  <%=h @brand.name %>
</p>

<p>
  <b>Homepage:</b>
  <%=h @brand.homepage %>
</p>

<% @brand.instruments.each do |i| %>
  <%= link_to_name i %><br>
<% end %>

<%= scoped_new_link 'instrument' %><br>
<%= scoped_new_link 'effect' %><br>
<%= scoped_collection_link 'instrument', @brand %><br>
<%= scoped_collection_link 'effect', @brand %><br>

<%= link_to 'Edit', edit_brand_path(@brand) %>
