<h1>shows!</h1>

<table>
  <tr>
    <th>Venue</th>
    <th>Performer</th>
    <th>Performed at</th>
  </tr>

<% for show in @shows %>
  <tr>
    <td><%= link_to_name show.venue %></td>
    <td><%= link_to_name show.performer %></td>
    <td><%=h show.performed_at %></td>
    <td><%= link_to 'Show', show %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New show', new_show_path %>
