<h1>show
  <%=' by ' + @show.performer.name if @show.performer %>  
</h1>

<% form_for @show do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :venue %><br />
    <%= f.select :venue_id, Venue.map_name_and_id %>
  </p>
  <% unless @show.performer %>
    <p>
      <%= f.label :performer_type %><br />
      <%= f.text_field :performer_type %>
    </p>
    <p>
      <%= f.label :performer_id %><br />
      <%= f.text_field :performer_id %>
    </p>
  <% else %>
    <%= f.hidden_field :performer_id %>
    <%= f.hidden_field :performer_type %>
  <% end %>
  <p>
    <%= f.label :performed_at %><br />
    <%= f.datetime_select :performed_at %>
  </p>
  <p>
    <%= f.submit 'blitz' %>
  </p>
<% end %>

