<p>
  <b>Venue:</b>
  <%= link_to_name @show.venue %>
</p>

<p>
  <b>Performer:</b>
  <%= link_to_name @show.performer %>
</p>

<p>
  <b>Performed at:</b>
  <%=h @show.performed_at %>
</p>

<% @show.performances.each do |p| %>
  <%= link_to_name p %><br>
<% end %>
<%= scoped_collection_link 'performance', @show %>
<%= scoped_new_link 'performance' %>
<%= scoped_collection_link 'participation', @show %>
<%= scoped_new_link 'participation' %>
<br>
<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
