<p>
  <b>Venue:</b>
  <%= link_to_name @show.venue %>
</p>

<p>
  <b>Performer:</b>
  <%= link_to_name @show.performer %>
</p>

<p>
  <b>Performed at:</b>
  <%=h @show.performed_at %>
</p>


<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
