<h1>Listing outputs</h1>

<table>
  <tr>
    <th>Host type</th>
    <th>Host</th>
    <th>Description</th>
    <th>User</th>
  </tr>

<% for output in @outputs %>
  <tr>
    <td><%=h output.host_type %></td>
    <td><%=h output.host_id %></td>
    <td><%=h output.description %></td>
    <td><%=h output.user %></td>
    <td><%= link_to 'Show', output %></td>
    <td><%= link_to 'Edit', edit_output_path(output) %></td>
    <td><%= link_to 'Destroy', output, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New output', new_output_path %>
