<h1>New output</h1>

<% form_for(@output) do |f| %>
  <%= f.error_messages %>

  <% unless @output.host %>
    <p>
      <%= f.label :host_type %><br />
      <%= f.text_field :host_type %>
    </p>
    <p>
      <%= f.label :host_id %><br />
      <%= f.text_field :host_id %>
    </p>
  <% else %>
    <%= f.hidden_field :host_id %>
    <%= f.hidden_field :host_type %>
    <%= "for: #{@output.host.name}" %>
  <% end %>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', outputs_path %>
