<h1>Editing instrument</h1>

<% form_for(@instrument) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :brand_id %><br />
    <%= f.select :brand_id, Brand.map_name_and_id, :include_blank => true %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @instrument %> |
<%= link_to 'Back', instruments_path %>
