<h1>Listing instruments</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Belongs to</th>
    <th>Belongs to</th>
  </tr>

<% for instrument in @instruments %>
  <tr>
    <td><%=h instrument.name %></td>
    <td><%=h instrument.brand_id %></td>
    <td><%=h instrument.user_id %></td>
    <td><%= link_to 'Show', instrument %></td>
    <td><%= link_to 'Edit', edit_instrument_path(instrument) %></td>
    <td><%= link_to 'Destroy', instrument, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New instrument', new_instrument_path %>
