<h1>New instrument</h1>

<% form_for(@instrument) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :brand_id %><br />
    <%= f.select :brand_id, Brand.map_name_and_id %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', instruments_path %>
