<p>
  <b>Name:</b>
  <%=h @instrument.name %>
</p>

<p>
  <b>Brand:</b>
  <%=h @instrument.brand_id %>
</p>

<p>
  <b>User:</b>
  <%=h @instrument.user_id %>
</p>


<%= link_to 'Edit', edit_instrument_path(@instrument) %> |
<%= link_to 'Back', instruments_path %>
