<h1>Listing performances</h1>

<table>
  <tr>
    <th>Song</th>
    <th>Performed at</th>
    <th>Show</th>
  </tr>

<% for performance in @performances %>
  <tr>
    <td><%= link_to_name performance.song %></td>
    <td><%=h performance.performed_at %></td>
    <td><%= link_to_name performance.show %></td>
    <td><%= link_to 'Show', performance %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New performance', new_performance_path %>
