<h1>New performance</h1>

<% form_for(@performance) do |f| %>
  <%= f.error_messages %>

  <% unless @performance.song %>
    <p>
      <%= f.label :song %><br />
      <%= f.select :song_id, Song.map_name_and_id %>
    </p>
  <% else %>
    <%= f.hidden_field :song_id %>
    <%= "of #{@performance.song.name}" %>
  <% end %>
  <p>
    <%= f.label :performed_at %><br />
    <%= f.datetime_select :performed_at %>
  </p>
  <p>
    <%= f.label :show %><br />
    <%= f.select :show_id, Show.map_name_and_id %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', performances_path %>
